# Dependencies
/node_modules

# Build output
/dist

# Environment
.env
.env.backup
.env.production

# Logs
/logs/*.log

# Prisma
/prisma/*.db
/prisma/*.db-journal
/prisma/*.db-shm
/prisma/*.db-wal

# IDE
/.vscode
/.idea
/.fleet
/.nova
/.zed

# OS
.DS_Store
Thumbs.db
